{:system/env
 #profile {:dev :dev
           :test :test
           :prod :prod}

 :server/http
 {:port #long #or [#env PORT 3000]
  :host #or [#env HTTP_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}

 :handler/ring
 {:router #ig/ref :router/core
  :api-path ""}

 :router/core
 {:base-path ""
  :jwt-secret #ref [:auth/jwt-secret]
  :token-exp 1440 ;; mins
  :env #ig/ref :system/env
  :db-conn #ig/ref :db.sql/connection
  :query-fn #ig/ref :db.sql/query-fn}

 :auth/jwt-secret #or [#env JWT_SECRET "ODNEADLEOANEASD"]

 :db.sql/query-fn {:conn #ig/ref :db.sql/connection,
                   :options {},
                   :filename "sql/queries.sql"}

 :db.sql/migrations {:store :database,
                     :db {:datasource #ig/ref :db.sql/connection},
                     :migrate-on-init? true}

 :db.sql/connection #profile {:dev {:jdbc-url "jdbc:sqlite:vend_dev.db"},
                              :test {:jdbc-url "jdbc:sqlite:vend_test.db"},
                              :prod {:jdbc-url #env JDBC_URL}}}
